<h3>
  Agregar <small>{{ nuevo.nombre }}</small>
</h3>
<hr />

<form (ngSubmit)="agregar()">
  <!-- 
                '[]'' = establecer propiedades a un objeto.
                '()' = para escuchar o enviar eventos.
            -->
  <input
    type="text"
    placeholder="Nombre"
    [(ngModel)]="nuevo.nombre"
    name="nombre"
  />
  <!--
            [value]="nuevo.nombre"
            (input)="cambiarNombre($event)"
        -->
  <input
    type="number"
    placeholder="Poder"
    [(ngModel)]="nuevo.poder"
    name="poder"
  />

  <button type="submit">Agregar</button>
</form>
